:root {
    color-scheme: light dark;
    --background-color: #FFF;
    --text-color: #000;
    --inner-link-text-color: #2AB77E;
    --outer-link-text-color: #FF7518;
    --popup-box-shadow-color: rgba(0, 0, 0, 0.1);
    --body-fonts: Georgia, serif;
    --title-fonts: Chalkduster, cursive;
    --footer-fonts: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #202020;
        --text-color: #BABABA;
        --popup-box-shadow-color: rgba(176, 176, 176, 0.16);
    }
}

html,
body {
    background-color: var(--background-color);
    font-family: var(--body-fonts);
    color: var(--text-color);
    font-size: 1rem;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body > header {
    font-family: var(--title-fonts);
    font-size: 2rem;
}

body > header {
    width: 100%;
    margin: 0 auto;
    max-width: 880px;
    padding: 0 40px;
}

body > article {
    width: 100%;
    margin: 0 auto;
    max-width: 880px;
    padding: 40px 40px 0;
    font-size: 1.1rem;
}

body > footer {
    writing-mode: vertical-rl;
    text-orientation: upright;
    /*letter-spacing: -3px;*/
    font-family: var(--footer-fonts);
    opacity: 25%;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#link {
    display: inline-block;
    position: relative;
}

#link.internalLink {
    color: var(--inner-link-text-color);
}

#link.externalLink {
    color: var(--outer-link-text-color);
}

#link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#link.internalLink:after {
    background-color: var(--inner-link-text-color);
}

#link.externalLink:after {
    background-color: var(--outer-link-text-color);
}

#link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#logo {
    display: inline-block;
    vertical-align: middle;
}

#popup, #tpopup {
    display: none;
    position: absolute;
    z-index: 99;
    border-bottom: none;
    overflow: auto;
}

#popup, #tpopup, iframe {
    height: 300px;
    width: 400px;
    border-radius: 15px;
    background-color: var(--background-color);
    /*-webkit-backdrop-filter: blur(10px);*/
    /*backdrop-filter: blur(10px);*/
    box-shadow: 0 2px 8px var(--popup-box-shadow-color);
}

#popup {
    padding: 20px;
}

#tpopup {
    padding: 0;
}

iframe {
    border: none;
}

/* GRID */

body > header {
    grid-area: header;
    display: grid;
    align-items: end;
}

body > article {
    grid-area: article;
}

body > footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
}

body {
    display: grid;
    grid-template-columns: [col1-start] 15% [col2-start] auto [col3-start] 15% [col-end];
    grid-template-rows: [row1-start] 15% [row2-start] auto [row-end];
    grid-template-areas:
    ". header ."
    ". article footer";
}
