/* Popups */
#internalPopup, #externalPopup
  display: none
  position: absolute
  z-index: 99
  border-bottom: none
  overflow: auto

#internalPopup, #externalPopup, iframe
  height: 300px
  width: 400px
  border-radius: 15px
  background-color: var(--background-color)
  box-shadow: 0 0 0 -50px rgba(154, 161, 177, .15), 0 4px 33px -7px rgba(36, 40, 47, .25), 0 4px 19px -27px rgba(91, 94, 105, .15)

#internalPopup
  padding: 20px

#externalPopup
  padding: 0

iframe
  border: none
